.content1{
    border:1px solid #aaaaaa;
    width:90%;
    border-radius:5px;
    margin:30px auto;
  }
  .content1 .row{
    height:150px;
    background:#161212;
    border-radius:5px;
  }
  .content1 .row p{
    position:absolute;
    top:0;
    right:0;
    font-size:14px;
    
  }
 
  .content2 .form-group{
    width:55%;
    margin:0 auto;
  }
  .content2 .row{
    width:40%;
    margin:20px auto;
  }
  .content2 .row .leftinput{
   float:left;
   width:45%;
  }
  .content2 .row .rightinput{
    float:right;
    width:45%;
   }