*{
    margin:0;
    padding:0;
}
.container-fliud{
    padding:5% 0 15%;
    margin:0 auto;
    background:#315dad;
}
.container{
    padding:30px;
}
.frm{
    text-align:center;
}
.frm p{
    margin:10px;
    color:#ffffff;
}
.frm .textcontent{
    background:#ffffff;
    width:60%;
}
.frm .textcontent .textshow{
    margin-bottom:20px;
}
.frm .textcontent .textshow blockquote{
    font-size:20px;
}
.frm .textcontent .textshow small{
    text-align:right;
}
.row{
    padding:0 30px;
}
.row .iconclass{
    border:0px;
    border-radius:2px;
    width:30px;
    height:30px;
    padding-top:9px;
    margin:0px 2px; 
    float:left;
}
.row .btn{
    float:right;
    border:0px;
}
.iconclass i{
    color:#ffffff;
}
a:hover{
    cursor:pointer;
}